apiVersion: 1

providers:
  - name: CB-NAD Dashboards
    orgId: 1
    folder: CB-NAD
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
